<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>560568355737-jcr410cn8f0k2lv2fqf1rj7pguu23du7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560568355737-jcr410cn8f0k2lv2fqf1rj7pguu23du7</string>
	<key>API_KEY</key>
	<string>AIzaSyDe2MXV-1IGGNt1imJGhowKMBELh-1ayRM</string>
	<key>GCM_SENDER_ID</key>
	<string>560568355737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.certainity.simpleworld</string>
	<key>PROJECT_ID</key>
	<string>x-x-x-test</string>
	<key>STORAGE_BUCKET</key>
	<string>x-x-x-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560568355737:ios:cfd81e8295017341d62108</string>
</dict>
</plist>